/* This is the CSS file */
.header {
    display: flex;
    height: fit-content;
    background-color: #D7C9BB;
    align-content: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.photo {
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    border-radius: 50%;
}

.info {
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-image: url('Assets/bg.jpg');
    background-size: cover;
    text-align: center;
    font-family: Cambria;
}

.personal {
    line-height: 30px;
    text-align: left;
    align-self: center;
}

h2 {
    background-color:#977660;
    color: white;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

/* Table Styling*/

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

tr:hover {background-color: #977660; color: white;}

th, td {
    border-bottom: 1px solid #D7C9BB;
    padding: 10px;
}

th {
    background-color: #D7C9BB;
}

td {
    text-align: left;
}

.main-container {
    display: flex;
    margin: 25px 50px 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
